name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
  
    steps:
    - name: Checkout project
      uses: actions/checkout@v1
    - name: npm install, build and unit
      run: |
        npm ci
        npm run build
        npm test
    - uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: coverage/lcov.info
